@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.verifyWrap {
  margin: 0 !important;
}

button > span {
  padding: 0 0 !important;
  gap: 2px;
  align-items: center;
}

.ml-2.h-4.w-4 {
  display: none; /* menyembunyikan ikon panah pada dropdown */
}

/* button content dropdown */
div.z-10.w-fit.divide-y.divide-gray-100.rounded.shadow.transition-opacity.duration-100.border.border-gray-200.bg-white.text-gray-900 {
  border-radius: 0.375rem;
}

input[type="text"], input[type="password"] {
  border-width: 0px;
  padding: 0px;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: none;
}