@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.verifyWrap {
  margin: 0 !important;
}

button > span {
  padding: 0 0 !important;
  gap: 2px;
  align-items: center;
}